

<style>
    .group { cursor: pointer; }

    li:hover {
        cursor: pointer;
        font-weight: bold;
        /*transform: scale(1.1);*/
        transition: all 0.3s ease-out;
        box-shadow: inset 0 0 0 2px #f0f0ff;
        background: #efeff5;
    }
</style>

{% comment %} <ul>
{% for obj in hpv.base %}
    <li class="group" id= "{{obj.name}}" data-subname-url="{% url 'ajax_load_subnames' %}">{{obj.name}}</li>
    <ul style="display: none"></ul>

{% endfor %}
</ul> {% endcomment %}


<ul>
<ul>
{% for obj in hpv.all %}
    
    {% if obj.level == 0 %}
        </ul><li class="group" id= "{{obj.id}}" geom="{{obj.geom}}" classes="{{obj.classes}}" name="{{obj.name}}">{{obj.name}}</li><ul style="display: none">        
    {% else %}
        <li class="item" id= "{{obj.id}}" geom="{{obj.geom}}" classes="{{obj.classes}}" name="{{obj.name}}">{{obj.name}}</li>
    {% endif %}

{% endfor %}
</ul> 

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>




<script>
    $( ".group" ).click(function (event){
        var element = $(event.target);       
        const nameId = element.attr("id");
        var node=element.next();        
        node.is(":hidden")?node.show():node.hide();    // hide/show sublist

    })

    /*
    $( ".group" ).click(function (event) {
    //$("li").click(function (event) {
        var element = $(event.target);
        const url = element.attr("data-subname-url");  // get the url of the `load_subname` view
        const nameId = element.attr("id");
        var node=element.next();        
        node.is(":hidden")?node.show():node.hide();    // hide/show sublist
        
        $.ajax({  
            url: url,                    // set the url of the request
            data: {'name': nameId},      // add name id to the GET parameters
         }).done(function(data) {              
        node.html(data);
        });
    });
    */
</script>